{% extends "layout.html" %} {% block content %} {% for post in posts.items %}
<div
  class="card border-secondary mb-3"
  style="max-width: 100%; margin-top: 20px"
>
  <div class="card-header">
    <img
      class="rounded-circle article-img"
      src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
      style="width: 50px; height: 50px"
    />
    <a
      href="{{ url_for('users.user_posts', username=post.author.username) }}"
      style="text-decoration: none"
      >{{ post.author.username }}</a
    >
    <small class="text-muted"
      >&nbsp;&nbsp;<i>{{ post.date_posted.strftime('%Y-%m-%d') }}</i></small
    >
  </div>
  <div class="card-body text-secondary">
    <h5 class="card-title">
      <a
        href="{{ url_for('posts.post', post_id=post.id) }}"
        style="text-decoration: none"
        >{{ post.title }}</a
      >
    </h5>
    <p class="card-text">{{ post.content }}</p>
  </div>
</div>
{% endfor %} {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,
left_current=1, right_current=2) %} {% if page_num %} {% if page_num ==
posts.page %}
<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}"
  >{{ page_num }}</a
>
{% else %}
<a
  class="btn btn-outline-info mb-4"
  href="{{ url_for('main.home', page=page_num) }}"
  >{{ page_num }}</a
>
{% endif %} {% else %} ... {% endif %} {% endfor %} {% endblock content %}
